# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Python environment
.Python

# MacOS
.DS_Store

# Logs
*.log
